@media only screen and (max-width: 500px) {
   
    .heading{
        margin-top: 40px;
    }
    .translate-area{
        height: 30vh;
        width: 100%;
        flex-direction: column;
        padding: 0px;
        align-items: center;
    }
 
    .from-text{
    
       width: 100%;
        
        font-size: 12px;
        padding-left: 10px;
        padding-top: 8px;
   
    }
    .to-text{
        width: 100%;
        
        font-size: 12px;
        padding-left: 10px;
        padding-top: 8px;
    }
    .from-text::placeholder{
        font-size: 12px;
        font-weight: 100;
       
    }
    .arrow{
        list-style: none;
        width: 15px;
    }
    .controls{
        display: flex;
        justify-content: space-between;
        width: 40vw;
     
    }
    .select-btn{
        width:20vw
    }
  }